templateLogic.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parametersLink": { 
    "uri":"https://github.com/shanepeckham/CADHackathon_Loyalty/blob/master/parameters.json",
    "contentVersion":"1.0.0.0"
    }, 
    /*
    "parameters": {
         "workflows_MiniCADLogicApp_CognitiveServicesId": {
            "defaultValue": "",
            "type": "String"
        },
        "workflows_MiniCADLogicApp_name": {
              "defaultValue": "",
            "type": "String"
        },
        "workflows_MiniCADLogicApp_GmailId": {
            "defaultValue": "",
            "type": "String"
        },
        "service_minicad123apim": {
            "defaultValue": "",
            "type": "String"
        },
        "workflows_MiniCADLogicAppFunction_id": {
            "defaultValue": "",
            "type": "String"
        },
        "service_minicad123api_name": {
            "defaultValue": "",
            "type": "String"
        },
        "sites_MiniCADFunctionApp_name": {
            "defaultValue": "",
            "type": "String"
        }
    },
    */
    "variables": {},
    "resources": [
{
            "comments": "Generalized from resource: '/subscriptions/de019774-dddc-40a9-9515-51f9df268c95/resourceGroups/MiniCAD/providers/Microsoft.Logic/workflows/MiniCADLogicApp'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[concat(parameters('workflows_MiniCADLogicApp_name'), uniqueString(resourceGroup().id, deployment().name))]",
            "apiVersion": "2016-06-01",
            "location": "northeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@body('Query_Contacts_by_Id')",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "GenerateCoupon": {
                                            "runAfter": {},
                                            "type": "Function",
                                            "inputs": {
                                                "body": {
                                                    "name": "@item()?['name']"
                                                },
                                                "function": {
                                                  //  "id": "[parameters('workflows_MiniCADLogicAppFunction_id')]"
                                                  //"/subscriptions/de019774-dddc-40a9-9515-51f9df268c95/resourceGroups/MiniCADFunction/providers/Microsoft.Web/sites/MiniCADFunctionApp4pb56ec3fmsgg/functions/GenerateCoupon"
                                                  //"id": "[concat(reference(concat('Microsoft.Resources/deployments/', [concat(parameters('sites_MiniCADFunctionApp_name'), uniqueString(resourceGroup().id, deployment().name))]), '2016-01-01').outputs.functionId.value, '/functions/GenerateCoupon')]"
                                                  "id": "[concat(reference(concat('Microsoft.Resources/deployments/', 'function'), '2016-01-01').outputs.functionId.value, '/functions/GenerateCoupon')]"
                                                },
                                                "method": "POST"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Detect_Sentiment": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": "@less(body('Detect_Sentiment')?['score'], 0.5)",
                                    "type": "If"
                                },
                                "Detect_Sentiment": {
                                    "runAfter": {
                                        "Query_Cases_Feedback": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "text": "@body('Query_Cases_Feedback')['last_feedback']"
                                        },
                                        "host": {
                                            "api": {
                                                "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/cognitiveservicestextanalytics"
                                            },
                                            "connection": {
                                                "name": "@parameters('$connections')['cognitiveservicestextanalytics']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/sentiment"
                                    }
                                },
                                "Query_Cases_Feedback": {
                                    "runAfter": {},
                                    "type": "ApiManagement",
                                    "inputs": {
                                        "api": {
                                            "id": "[concat(resourceId('Microsoft.ApiManagement/service', parameters('service_minicad123apim')), '/apis/58af3fded9e0430e784c6b9d')]"
                                        },
                                        "method": "get",
                                        "pathTemplate": {
                                            "parameters": {
                                                "id": "@{encodeURIComponent(item()?['caseNum'])}"
                                            },
                                            "template": "/LegacyAPI/contacts/{id}"
                                        },
                                        "subscriptionKey": "@{encodeURIComponent(triggerBody()['APIMKey'])}"
                                    }
                                },
                                "Send_email": {
                                    "runAfter": {
                                        "Condition": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "Please get your coupon here: @{body('GenerateCoupon')}",
                                            "Subject": "Your Coupon has been generated",
                                            "To": "@{item()?['email']}"
                                        },
                                        "host": {
                                            "api": {
                                                "runtimeUrl": "https://logic-apis-northeurope.azure-apim.net/apim/gmail"
                                            },
                                            "connection": {
                                                "name": "@parameters('$connections')['gmail']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Mail"
                                    }
                                }
                            },
                            "runAfter": {
                                "Query_Contacts_by_Id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Query_Contacts_by_Id": {
                            "runAfter": {},
                            "type": "ApiManagement",
                            "inputs": {
                                "api": {
                                    "id": "[concat(resourceId('Microsoft.ApiManagement/service', parameters('service_minicad123apim')), '/apis/58af405bd9e0430e784c6b9f')]"
                                },
                                "method": "get",
                                "pathTemplate": {
                                    "parameters": {
                                        "id": "@{encodeURIComponent(int(triggerBody()['id']))}"
                                    },
                                    "template": "/Contacts/contacts/{id}"
                                },
                                "subscriptionKey": "@{encodeURIComponent(triggerBody()['APIMKey'])}"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "cognitiveservicestextanalytics": {
                                "connectionId": "[parameters('workflows_MiniCADLogicApp_CognitiveServicesId')]",
                                "connectionName": "cognitiveservicestextanalytics",
                                "id": "/subscriptions/de019774-dddc-40a9-9515-51f9df268c95/providers/Microsoft.Web/locations/northeurope/managedApis/cognitiveservicestextanalytics"
                            },
                            "gmail": {
                                "connectionId": "[parameters('workflows_MiniCADLogicApp_GmailId')]",
                                "connectionName": "gmail",
                                "id": "/subscriptions/de019774-dddc-40a9-9515-51f9df268c95/providers/Microsoft.Web/locations/northeurope/managedApis/gmail"
                            }
                        }
                    }
                }
            },
            "resources": [],
            "dependsOn": [
                "[resourceId('Microsoft.ApiManagement/service', parameters('service_minicad123apim'))]"
            ]
        }
   ]
}